# Xcode build output
build/

# Firebase / Node (Cloud Functions)
Procedus/.firebase/
Procedus/**/node_modules/
Procedus/**/*.local
Procedus/**/firebase-debug.log*
Procedus/**/firebase-debug.*.log*
Procedus/**/npm-debug.log*
Procedus/**/yarn-debug.log*
Procedus/**/yarn-error.log*
Procedus/**/.env
