<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMAIL_CLIENT_ID</key>
	<string>700556332206-aqvl7f80ahieu7095ogr3c5htpgsgmp4.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.entropy.app</string>
				<string>com.googleusercontent.apps.700556332206-aqvl7f80ahieu7095ogr3c5htpgsgmp4</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
